@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
@keyframes faixaSlider {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(1800px);
  }
  100% {
    transform: translateX(0);
  }
}
@font-face {
  font-family: Monument;
  src: url(../fonts/MonumentExtended-Regular.otf);
  font-display: swap;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding: 85px;
}

body {
  position: relative;
  display: grid;
  place-items: center;
  width: 100vw;
  background-color: #080806;
  color: #f3ebfd;
}

h1 {
  font-family: Monument, "Montserrat", sans-serif;
  font-size: 34px;
  line-height: 120%;
  font-weight: 100;
  text-transform: uppercase;
  font-display: swap;
}

h2 {
  font-family: Monument, "Montserrat", sans-serif;
  font-weight: 100;
  font-size: 28px;
  line-height: 120%;
  font-display: swap;
}

h3 {
  font-family: Monument, "Montserrat", sans-serif;
  font-weight: 100;
  font-size: 24px;
  line-height: 160%;
  font-display: swap;
}

h4 {
  font-family: "Montserrat";
  font-size: 20px;
  line-height: 160%;
  font-weight: 400;
  font-display: swap;
}

p {
  font-family: "Montserrat";
  font-size: 16px;
  line-height: 160%;
  font-weight: 400;
  line-height: 150%;
  color: white;
  font-display: swap;
}

span {
  font-family: "Montserrat";
  font-size: 14px;
  line-height: 160%;
  font-weight: 400;
  font-display: swap;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.border {
  border: 1px solid red;
}

.effects-bg {
  display: block;
  position: absolute;
}

.bg-frontpage {
  flex-direction: column;
  position: relative;
  min-width: 100vw;
  height: 100%;
  overflow: hidden;
  background-image: url(../img/bgheadline.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.background-mid {
  flex-direction: column;
  position: relative;
  min-width: 100vw;
  height: 100%;
  overflow: hidden;
  background-image: url(../img/back3.webp);
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: top;
  background-size: cover;
}

.container {
  max-width: 1128px;
  width: 100%;
  padding: 0 16px;
}

.CTA-button {
  display: inline-flex;
  align-items: center;
  width: auto;
  transition: box-shadow 0.8s;
  transition-delay: 0.1s;
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  padding: 16px 32px;
  border-radius: 8px;
  background: linear-gradient(90deg, #229922 0%, #2dca2d 100%);
  color: #f3ebfd;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
}
.CTA-button svg {
  margin-left: 22px;
  transition: 0.5s;
}
.CTA-button:hover {
  box-shadow: 0px 24px 40px rgba(43, 195, 43, 0.07), 0px 16.98748px 28.14375px 0px rgba(43, 195, 43, 0.1), 0px 31.92707px 52.63979px 0px rgba(43, 195, 43, 0.13), 0px 75px 126px 0px rgba(43, 195, 43, 0.18);
}
.CTA-button:hover svg:first-child {
  transform: translateX(6px);
}
.CTA-button:hover svg:last-child {
  transform: translateX(8px);
  transition-delay: 0.15s;
}

.highlight mark {
  padding: 4px 16px;
  background: linear-gradient(90deg, #8239e0 0%, #5416a4 100%);
  border-radius: 4px;
  line-height: 160%;
  color: #f3ebfd;
}

.section {
  width: 100%;
  margin-bottom: 132px;
}

.bg-frontpage .container {
  position: relative;
}
.bg-frontpage .container .bg-detail-headline {
  display: block;
  position: absolute;
}
.bg-frontpage .container .bg-detail-headline:first-child {
  width: 634px;
  height: 634px;
  transform: rotate(107.113deg);
  border-radius: 634px;
  background: linear-gradient(180deg, rgba(130, 57, 224, 0) 0%, rgba(130, 57, 224, 0.25) 100%);
  top: 0;
  right: -64px;
}
.bg-frontpage .container .bg-detail-headline:last-child {
  width: 302.82px;
  height: 302.82px;
  transform: rotate(132.762deg);
  border-radius: 302.82px;
  background: linear-gradient(180deg, rgba(130, 57, 224, 0) 0%, rgba(130, 57, 224, 0.25) 100%);
  left: -300px;
  top: 500px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 32px;
  width: 90%;
  border-radius: 16px;
  padding: 16px;
  background: rgba(45, 45, 43, 0.168627451);
  border: 1px solid #1f1f1b;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  z-index: 999;
}
.header nav {
  display: flex;
  justify-content: center;
  gap: 32px;
}
.header nav a {
  text-decoration: none;
  color: white;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  transition: color 0.3s;
}
.header nav a:hover {
  color: rgb(167, 154, 132);
}
.header a.CTA-button {
  padding: 10px 24px;
  border-radius: 50px;
  font-size: 12px;
}

.headline .container {
  justify-content: center;
  align-items: center;
  margin-top: 150px;
  flex-direction: column;
  text-align: center;
}
.headline .container .course-logo {
  margin-bottom: -100px;
}
.headline .container .headline-text {
  max-width: 821px;
  min-width: 310px;
  width: 100%;
  order: 2;
}
.headline .container .headline-text h1 {
  margin: 40px 0 16px;
}
.headline .container .headline-text h4 {
  margin-bottom: 24px;
}
.headline .container .headline-text .cta-button-footer-headline {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.headline .container .headline-text .cta-button-footer-headline a {
  border-radius: 99px;
  padding: 14px 18px;
  width: 100%;
  max-width: 237px;
  justify-content: center;
}
.headline .container .headline-text .cta-button-footer-headline div {
  display: flex;
  justify-items: flex-start;
  align-items: center;
  padding-left: 26px;
}
.headline .container .headline-text .cta-button-footer-headline div div {
  width: 40px;
  height: 40px;
  aspect-ratio: 1/1;
  border-radius: 900px;
  border: 1px solid #505050;
  margin-left: -26px;
  background: #414141;
}

.midpage {
  position: relative;
  display: block;
  padding: 96px 0;
  width: 100%;
  background: #f3f3f3;
  color: #160f20;
}
.midpage p {
  color: #332a41;
}

.background-mid .container {
  position: relative;
}
.background-mid .container .bg-detail-mid-page {
  display: block;
  position: absolute;
}
.background-mid .container .bg-detail-mid-page:first-child {
  width: 634px;
  height: 634px;
  transform: rotate(107.113deg);
  border-radius: 634px;
  background: linear-gradient(180deg, rgba(130, 57, 224, 0) 0%, rgba(130, 57, 224, 0.25) 100%);
  top: 120px;
  right: -264px;
}
.background-mid .container .bg-detail-mid-page:last-child {
  width: 302.82px;
  height: 302.82px;
  transform: rotate(132.762deg);
  border-radius: 302.82px;
  background: linear-gradient(180deg, rgba(130, 57, 224, 0) 0%, rgba(130, 57, 224, 0.25) 100%);
  left: -200px;
  top: 700px;
}

.second-session {
  margin-top: 120px;
  margin-bottom: 0;
}
.second-session .container {
  justify-content: space-between;
  flex-wrap: wrap;
}
.second-session .container .content {
  max-width: 550px;
}
.second-session .container .content .bonus-tick {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 16px;
}
.second-session .container .content .bonus-tick p {
  color: #992222;
  margin: 0;
  text-transform: uppercase;
  font-size: 14px;
}
.second-session .container .content .bonus-tick svg {
  margin-right: 8px;
}
.second-session .container .content h1 {
  margin-bottom: 20px;
  text-transform: uppercase;
}
.second-session .container .content p {
  margin-bottom: 28px;
  max-width: 532px;
  font-size: 20px;
  font-weight: 500;
}
.second-session .container .content button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.4s;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 8px;
  padding: 16px 32px;
  border: none;
}
.second-session .container .content button p {
  position: relative;
  color: #f3ebfd;
  font-size: 16px;
  text-transform: uppercase;
  font-family: "Montserrat";
  font-weight: bolder;
  margin: 0;
}
.second-session .container .content button:hover {
  filter: brightness(1.1);
}
.second-session .container .bonus-class-video {
  max-width: 500px;
  width: 100%;
  height: 100%;
  aspect-ratio: 16/9;
}
.second-session .container .bonus-class-video iframe {
  border-radius: 16px;
}

.bonus-class {
  margin-top: 120px;
}
.bonus-class .container {
  justify-content: space-between;
  flex-wrap: wrap;
}
.bonus-class .container .content {
  max-width: 550px;
}
.bonus-class .container .content .bonus-tick {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 16px;
}
.bonus-class .container .content .bonus-tick p {
  color: #229922;
  margin: 0;
  text-transform: uppercase;
  font-size: 14px;
}
.bonus-class .container .content .bonus-tick svg {
  margin-right: 8px;
}
.bonus-class .container .content h1 {
  margin-bottom: 20px;
  text-transform: uppercase;
}
.bonus-class .container .content p {
  margin-bottom: 28px;
  max-width: 532px;
  font-size: 20px;
  font-weight: 500;
}
.bonus-class .container .content button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.4s;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 8px;
  padding: 16px 32px;
  border: none;
}
.bonus-class .container .content button p {
  position: relative;
  color: #f3ebfd;
  font-size: 16px;
  text-transform: uppercase;
  font-family: "Montserrat";
  font-weight: bolder;
  margin: 0;
}
.bonus-class .container .content button:hover {
  filter: brightness(1.1);
}
.bonus-class .container .bonus-class-video {
  max-width: 500px;
  width: 100%;
  height: 100%;
  aspect-ratio: 16/9;
}
.bonus-class .container .bonus-class-video iframe {
  border-radius: 16px;
}

.modulos-accordion-section {
  margin-top: 200px;
  margin-bottom: 0;
}
.modulos-accordion-section .container {
  justify-content: center;
  align-items: center;
  text-align: center;
}
.modulos-accordion-section .container .title-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: -48px;
}
.modulos-accordion-section .container .title-image img {
  width: 100%;
  max-width: 510px;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.modulos-accordion-section .container .accordion-modulos-container {
  position: relative;
  border: 2px solid #e8e8e8;
  border-radius: 8px;
  max-width: 800px;
  width: 100%;
  margin: 0 auto 48px;
}
.modulos-accordion-section .container .accordion-modulos-container .modulo-item {
  position: relative;
  padding: 0;
  border-bottom: 2px solid #e8e8e8;
  overflow-y: hidden;
  cursor: pointer;
}
.modulos-accordion-section .container .accordion-modulos-container .modulo-item button {
  display: block;
  position: absolute;
  right: 32px;
  top: 24px;
  background: none;
  border: none;
  padding: 8px;
  cursor: pointer;
  z-index: 10;
}
.modulos-accordion-section .container .accordion-modulos-container .modulo-item button svg {
  transition: 0.5s;
}
.modulos-accordion-section .container .accordion-modulos-container .modulo-item:last-child {
  border-bottom: none;
}
.modulos-accordion-section .container .accordion-modulos-container .modulo-item h4 {
  font-weight: 600;
  margin: 0;
  padding: 24px 32px;
  padding-right: 60px;
  transition: 0.5s;
  text-align: left;
  background-color: #f3f3f3;
  color: #000000;
}
.modulos-accordion-section .container .accordion-modulos-container .modulo-item .modulo-content {
  transition: 0.5s;
  padding: 24px 32px;
  padding-top: 0;
  margin: 0;
  background-color: #ffffff;
  color: #000000;
  overflow: hidden;
}
.modulos-accordion-section .container .accordion-modulos-container .modulo-item .modulo-content .modulo-description {
  display: block;
  margin: 16px 0;
  color: #000000;
  text-align: left;
}
.modulos-accordion-section .container .accordion-modulos-container .modulo-item .modulo-content .aulas-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.modulos-accordion-section .container .accordion-modulos-container .modulo-item .modulo-content .aulas-list .aula-item {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 12px;
}
.modulos-accordion-section .container .accordion-modulos-container .modulo-item .modulo-content .aulas-list .aula-item:last-child {
  margin-bottom: 0;
}
.modulos-accordion-section .container .accordion-modulos-container .modulo-item .modulo-content .aulas-list .aula-item .aula-icon {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}
.modulos-accordion-section .container .accordion-modulos-container .modulo-item .modulo-content .aulas-list .aula-item .aula-icon svg {
  width: 100%;
  height: 100%;
}
.modulos-accordion-section .container .accordion-modulos-container .modulo-item .modulo-content .aulas-list .aula-item .aula-name {
  text-align: left;
  margin: 0;
  color: #000000;
  font-size: 16px;
}
.modulos-accordion-section .container .accordion-modulos-container .modulo-item.open .modulo-content {
  opacity: 1;
}
.modulos-accordion-section .container .accordion-modulos-container .modulo-item.close h4 {
  margin: 0;
}
.modulos-accordion-section .container .accordion-modulos-container .modulo-item.close .modulo-content {
  opacity: 0;
}
.modulos-accordion-section .container .accordion-modulos-container .modulo-item.close button svg {
  transform: rotateZ(-45deg);
}

.omc {
  background-image: url(../img/back1-omc.webp);
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
  width: 100%;
}
.omc .container {
  position: relative;
  padding: 0 auto 0;
}
.omc .container .image-title {
  overflow: hidden;
}
.omc .container .image-title img {
  max-width: 100%;
}
.omc .container .texts {
  z-index: 50;
  inset: 0;
  position: absolute;
}
.omc .container .texts span {
  font-size: 18px;
  max-width: 300px;
  text-shadow: 1px 0 0px rgba(0, 0, 0, 0.767);
}
.omc .container .texts .text1 {
  position: absolute;
  left: 0;
  top: 40%;
}
.omc .container .texts .text2 {
  position: absolute;
  left: 0;
  top: 80%;
}
.omc .container .texts .text3 {
  position: absolute;
  right: 0;
  top: 60%;
}

.feedbacks {
  padding-top: 72px;
}
.feedbacks .container {
  position: relative;
  flex-direction: column;
}
.feedbacks .container .feedbacks-title {
  margin-bottom: 356px;
  position: relative;
  width: 100%;
  pointer-events: none;
  z-index: 2;
}
.feedbacks .container .feedbacks-title img {
  position: absolute;
  max-width: 100%;
  min-width: 400px;
  top: 0;
  left: auto;
  transform: translateX(-18px);
  -webkit-user-drag: none;
  user-drag: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.feedbacks .container .results-container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  max-width: 100%;
  gap: 24px;
}
.feedbacks .container .results-container .result {
  position: relative;
  background: #160f20;
  border-radius: 16px;
  width: 100%;
  max-width: 250px;
  aspect-ratio: 9/16;
}

.aboutme .container {
  position: relative;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
}
.aboutme .container .leo-image {
  display: block;
  position: relative;
  width: fit;
  height: 490px;
  overflow: hidden;
  background: #160f20;
  border-radius: 16px;
}
.aboutme .container .leo-image img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.aboutme .container .about-text {
  display: block;
  position: relative;
  width: 100%;
  max-width: 680px;
}
.aboutme .container .about-text .name svg {
  max-width: 355px;
  margin: 16px 0 28px;
  opacity: 0;
}
.aboutme .container .about-text .name svg.active {
  opacity: 1;
}
.aboutme .container .about-text .name svg.active #L {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: sign 0.5s ease-out forwards;
}
.aboutme .container .about-text .name svg.active #E {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: sign 2s ease-out forwards;
  animation-delay: 0.5s;
}
.aboutme .container .about-text .name svg.active #O {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: sign 2s ease-out forwards;
  animation-delay: 0.8s;
}
.aboutme .container .about-text .name svg.active #O_2 {
  stroke-dasharray: 1200;
  stroke-dashoffset: 1200;
  animation: sign 0.5s ease-out forwards;
  animation-delay: 1.2s;
}
.aboutme .container .about-text .name svg.active #L_2 {
  stroke-dasharray: 1200;
  stroke-dashoffset: 1200;
  animation: sign 1s ease-out forwards;
  animation-delay: 1.7s;
}
.aboutme .container .about-text .name svg.active #I {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: sign 2s ease-out forwards;
  animation-delay: 2.1s;
}
.aboutme .container .about-text .name svg.active #V {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: sign 1.5s ease-out forwards;
  animation-delay: 2.4s;
}
.aboutme .container .about-text .name svg.active #E_2 {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: sign 1.5s ease-out forwards;
  animation-delay: 2.7s;
}
.aboutme .container .about-text .name svg.active #I_2 {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: sign 1.5s ease-out forwards;
  animation-delay: 3s;
}
.aboutme .container .about-text .name svg.active #R {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: sign 1.5s ease-out forwards;
  animation-delay: 3.2s;
}
.aboutme .container .about-text .name svg.active #A {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: sign 1.5s ease-out forwards;
  animation-delay: 3.5s;
}
@keyframes sign {
  to {
    stroke-dashoffset: 0;
  }
}
.aboutme .container .about-text p {
  margin-bottom: 16px;
}
.aboutme .container .about-text span i {
  color: #c7b9d9;
}
.aboutme .container .about-text .grid-aboutme-instituicao {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.aboutme .container .about-text .grid-aboutme-instituicao .col {
  display: flex;
  gap: 16px;
  flex-direction: row;
}
.aboutme .container .about-text .grid-aboutme-instituicao .col div {
  display: flex;
  align-items: center;
  background: #21211f;
  padding: 10px 16px;
  border-radius: 16px;
  width: 100%;
}
.aboutme .container .about-text .grid-aboutme-instituicao .col div .logo-instituicao {
  width: 100%;
  max-width: 100px;
  aspect-ratio: 1/1;
  background: #303030;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.aboutme .container .about-text .grid-aboutme-instituicao .col div .logo-instituicao img {
  width: 100%;
}
.aboutme .container .about-text .grid-aboutme-instituicao .col div .logo-instituicao i {
  font-size: 32px;
  color: #d99400;
}
.aboutme .container .about-text .grid-aboutme-instituicao .col div .text-content {
  display: flex;
  flex-direction: column;
  text-align: left;
  align-items: flex-start;
  justify-content: center;
}
.aboutme .container .about-text .grid-aboutme-instituicao .col div .text-content h4 {
  font-family: Monument, "Montserrat", sans-serif;
  line-height: 100%;
  margin-bottom: 8px;
}

.combo-faixa {
  position: relative;
  width: 100vw;
  overflow: hidden;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.faixa {
  position: relative;
  transform: rotate(-3deg);
  width: 100%;
  background: rgba(220, 220, 220, 0.0666666667);
  overflow-x: hidden;
  border: 2px solid #1c1c19;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  backface-visibility: hidden;
  padding: 8px 0;
}
.faixa .slider {
  justify-content: center;
  gap: 32px;
  animation: faixaSlider 32s ease-in-out infinite;
  text-transform: uppercase;
}
.faixa .slider h3:nth-child(even) {
  color: white;
  font-size: 14px;
}
.faixa .slider h3:nth-child(odd) {
  display: block;
  min-width: -moz-fit-content;
  min-width: fit-content;
  text-align: center;
}

.faixa.to-top {
  transform: rotate(3deg);
}
.faixa.to-top .slider {
  animation-delay: 5s;
}

@keyframes rotateWords {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
.buysection .container {
  justify-content: center;
}
.buysection .container .logo {
  width: 100%;
  max-width: 392px;
  position: relative;
}
.buysection .container .logo svg {
  width: 100%;
}
.buysection .container .logo svg #words {
  transform-origin: center;
  animation: rotateWords 16s linear infinite;
}
.buysection .container .price-card {
  width: 100%;
  max-width: 490px;
  flex-direction: column;
  padding: 56px 32px;
  background: rgba(220, 220, 220, 0.0901960784);
  border: 2px solid #1c1c19;
  border-radius: 16px;
  text-align: center;
}
.buysection .container .price-card span:first-child {
  gap: 8px;
  margin-bottom: 24px;
}
.buysection .container .price-card h3 {
  margin-bottom: 32px;
}
.buysection .container .price-card ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: -50px;
  margin-bottom: 50px;
  padding: 0;
  list-style: none;
  width: 100%;
}
.buysection .container .price-card ul li {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  align-items: center;
  width: fit;
}
.buysection .container .price-card ul .li-item-check {
  display: flex;
  gap: 15px;
  align-items: center;
}
.buysection .container .price-card ul .span-red-text {
  color: #992222;
}
.buysection .container .price-card .price {
  margin: 8px;
  align-items: flex-end;
}
.buysection .container .price-card .price h1:nth-child(1) {
  font-family: "Montserrat";
  font-weight: bold;
}
.buysection .container .price-card .price h1:nth-child(2) {
  font-size: 64px;
  line-height: 90%;
  margin-left: 8px;
}
.buysection .container .price-card .CTA-button {
  margin: 40px 0 16px;
  width: 100%;
  justify-content: center;
}
.buysection .container .price-card span.obs-span {
  display: block;
  font-size: 12px;
  text-transform: capitalize;
  max-width: 250px;
  margin: 0 auto;
  color: #9180a6;
}

.faq .container {
  flex-direction: column;
}
.faq .container h2 {
  margin-bottom: 40px;
  text-align: center;
}
.faq .container p.cta-text {
  margin-bottom: 16px;
  text-transform: uppercase;
}
.faq .container .faq-container {
  position: relative;
  border: 2px solid #f8b838;
  border-radius: 16px;
  max-width: 552px;
  width: 100%;
  margin-bottom: 40px;
}
.faq .container .faq-container .question {
  position: relative;
  padding: 24px 32px;
  border-bottom: 2px solid #f8b838;
  overflow-y: hidden;
  cursor: pointer;
}
.faq .container .faq-container .question button {
  display: block;
  position: absolute;
  right: 32px;
  top: 24px;
  background: none;
  border: none;
  padding: 8px;
  cursor: pointer;
}
.faq .container .faq-container .question button svg {
  transition: 0.5s;
}
.faq .container .faq-container .question:last-child {
  border-bottom: none;
}
.faq .container .faq-container .question h4 {
  font-weight: 600;
  margin-bottom: 16px;
  transition: 0.5s;
}
.faq .container .faq-container .question p {
  transition: 0.5s;
}
.faq .container .faq-container .question.open p {
  opacity: 1;
}
.faq .container .faq-container .question.close h4 {
  margin: 0;
}
.faq .container .faq-container .question.close p {
  opacity: 0;
}
.faq .container .faq-container .question.close button svg {
  transform: rotateZ(-45deg);
}

.copy {
  margin: 16px 0;
  color: #332a41;
  font-weight: bold;
  text-transform: uppercase;
}

@media screen and (min-width: 1350px) {
  .feedbacks .break {
    left: 150px;
  }
  .feedbacks .break:nth-child(2) {
    left: -150px;
  }
}
@media screen and (max-width: 1100px) {
  .bg-frontpage .container .bg-detail-headline:last-child {
    left: -100px;
    top: 800px;
  }
  .headline .container {
    flex-direction: column;
    gap: 32px;
    align-items: center;
  }
  .headline .container .headline-text {
    order: 1;
    text-align: center;
  }
  .headline .container .headline-text h1 {
    margin: 24px 0;
  }
  .headline .container .headline-text h4 {
    margin-bottom: 32px;
  }
  .course-modules .container h2 {
    text-align: center;
  }
  .course-modules .container .modules-container {
    width: 100%;
    place-items: center;
    grid-template-columns: repeat(2, 1fr);
  }
  .course-modules .container .cta-section {
    text-align: center;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .course-modules .container .cta-section .text {
    max-width: none;
  }
  .course-modules .container .cta-section .text h3,
  .course-modules .container .cta-section .text p {
    max-width: none;
  }
  .aboutme .container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
  }
  .aboutme .container .about-text {
    max-width: 550px;
    width: 100%;
  }
  .aboutme .container .about-text .grid-aboutme-instituicao .col {
    flex-direction: column;
  }
  .buysection .container {
    flex-direction: column;
    gap: 120px;
  }
  .second-session .container {
    flex-direction: column;
    text-align: center;
  }
  .second-session .container .content {
    margin-bottom: 40px;
  }
  .second-session .container .content .bonus-tick {
    justify-content: center;
  }
  .second-session .container .content button {
    margin: auto;
  }
  .second-session .container .content p {
    margin-left: auto;
    margin-right: auto;
  }
  .bonus-class .container {
    flex-direction: column;
    text-align: center;
  }
  .bonus-class .container .content {
    margin-bottom: 40px;
  }
  .bonus-class .container .content .bonus-tick {
    justify-content: center;
  }
  .bonus-class .container .content button {
    margin: auto;
  }
  .bonus-class .container .content p {
    margin-left: auto;
    margin-right: auto;
  }
  .feedbacks .feedbacks-comment-container .feedback-comment:nth-child(3) {
    margin-top: 0 !important;
  }
}
@media screen and (max-width: 700px) {
  .omc {
    padding-bottom: 50px;
  }
  .omc .container .texts {
    z-index: 50;
    position: relative;
    display: flex;
    gap: 23px;
    flex-direction: column;
  }
  .omc .container .texts .text1 {
    position: relative;
    top: 0;
    width: 100%;
    max-width: none;
    text-align: center;
  }
  .omc .container .texts .text2 {
    position: relative;
    top: 0;
    width: 100%;
    max-width: none;
    text-align: center;
  }
  .omc .container .texts .text3 {
    position: relative;
    top: 0;
    width: 100%;
    max-width: none;
    text-align: center;
  }
}
@media screen and (max-width: 516px) {
  .header nav {
    display: none;
  }
  .bg-frontpage .container .bg-detail-headline:first-child {
    left: 0;
    top: 0;
  }
  .course-modules .container .modules-container {
    grid-template-columns: 1fr;
  }
  .course-modules .container .modules-container .module {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 332px;
    text-align: center;
  }
  .course-modules .container .cta-section .text h3 {
    margin-bottom: 16px;
  }
  .background-mid .container .bg-detail-mid-page:first-child {
    position: absolute;
    top: 300px;
    right: -300px;
  }
  .background-mid .container .bg-detail-mid-page:last-child {
    top: 1500px;
  }
  .feedbacks .container .feedbacks-title {
    margin-bottom: 200px;
  }
  .feedbacks-comment-container {
    flex-wrap: wrap;
  }
  .aboutme {
    margin-bottom: 48px;
  }
}
@media screen and (max-width: 430px) {
  .headline-text h4 {
    font-size: 17px;
    margin: 0 auto;
  }
  .CTA-button {
    font-size: 14px;
  }
}